<DOCTYPE html>
	<html>
		<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width">
	    <title>Car Rentals | Main</title>
	    <link rel="stylesheet" href="../static/style.css">
        <script src="https://kit.fontawesome.com/da5453e7b6.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Rubik+Glitch|Roboto+Mono|Syne+Mono">
	</head>
		<body>
			<header>
				<div class="container">
					<div id="title">
						<h1>Car Rental</h1>
					</div>
					<nav>
							
							<li><a href="/account">Account</li>
							<li><a href="/index">Main Page</a> 
                            
					</nav>
				</div>
			</header>
			
			<h2 style="text-transform: uppercase; padding-left: 20px; margin-top: 40px"><u>POPULAR</u></h2>
			
			<popular>
				<div id="boxes">
					<h1>hello world</h1>
				</div>
				<div id="boxes">
					<h1>hello world</h1>
				</div>
				<div id="boxes">
					<h1>hello world</h1>
				</div>
				<div id="boxes">
					<h1>hello world</h1>
				</div>
				<div id="boxes">
					<h1>hello world</h1>
				</div>
				<div id="boxes">
					<h1>hello world</h1>
				</div>
				<div id="boxes">
					<h1>hello world</h1>
				</div>
				<div id="boxes">
					<h1>hello world</h1>
				</div>
				<div id="boxes">
					<h1>hello world</h1>
				</div>
				<div id="boxes">
					<h1>hello world</h1>
				</div>
				<div id="boxes">
					<h1>hello world</h1>
				</div>
				<div id="boxes">
					<h1>hello world</h1>
				</div>
				<div id="boxes">
					<h1>hello world</h1>
				</div>
				<div id="boxes">
					<h1>hello world</h1>
				</div>
				<div id="boxes">
					<h1>hello world</h1>
				</div>
				<div id="boxes">
					<h1>hello world</h1>
				</div>
				<div id="boxes">
					<h1>hello world</h1>
				</div>
				<div id="boxes">
					<h1>hello world</h1>
				</div>
			</popular>
			
			
			<h2 style="text-transform: uppercase; padding-left: 20px; margin-top: 40px"><u>Recent Looks</u></h2>
			
			<recents>
				<div id="boxes">
					<h1>A fine scotch wiskey</h1>
				</div>
				<div id="boxes">
					<h1>A fine scotch wiskey</h1>
				</div>
			</recents>
		</body>
	</html>